* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    overflow: auto; 
    gap: 20px;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(194, 162, 162);
    width: 100%;
    min-height: 60px;

}

header nav{
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    background-color: rgb(35, 180, 190); 
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    flex: 1; 
    width: 100%;
}

#logo{
    min-width: 100px;
    min-height: 70px;
}

#inicio{
    width: 95%;
    min-height: 150px;
    background-color: rgb(112, 95, 95);
}

#sobre{
    width: 95%;
    min-height: 550px;
    background-color: rgb(143, 23, 23);

}

#produtos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    min-height: 150px;
    background-color: rgb(149, 53, 168);
}

.carrossel {
    position: relative;
    width: 100%; 
    max-width: 40%;  
    overflow: hidden; 
}

.carrossel-container {
    display: flex;            
    transition: transform 0.5s ease-in-out; 
    width: 100%;
}

.carrossel-container img {
    width: 100%;             
    flex-shrink: 0;           
    object-fit: cover;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    z-index: 100;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

#contatos{
    width: 95%;
    min-height: 150px;
    background-color: rgb(57, 168, 53);
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    width: 100%; 
}
